{% include 'recipes/partials/head.htm' %}
    <body>
        <!-- <h1><i class="fa-solid fa-mug-hot"></i> Pagina home de recipes de {{ name }}</h1> -->
        
        
        <!-- <main>
            <ol>
                <h2>Receitas</h2>
                <li>Bolo de ovos</li>
                <ul>
                    <li>1 farinha de trigo com fermento</li>
                    <li>500g de açucar</li>
                    <li>3 Ovos</li>
                    <li>100g de manteiga</li>
                </ul>
                <li>Pavê</li>
                <ul>
                    <li>1 cx de Leite liquido</li>
                    <li>1 cx de Leite condensado</li>
                    <li>2 colheres de maisera</li>
                    <li>2 pacotes de biscoito</li>
                </ul>
            </ol>
        </main> -->
        
        {% include 'recipes/partials/header.htm' %}
        <div class="content">
            {% include 'recipes/partials/search.htm' %}
            
            <main class="main-content-container">
                <div class="main-content main-content-list container"><!--</div>-->
                    {% include 'recipes/partials/recipe.html' %}
                    {% include 'recipes/partials/recipe.html' %}
                </div>
            </main>
        </div>

        

    </body>
</html>

